@import 'mixin';

$font-primary: Nunito , sans-serif;
body{
	font-family: $font-primary;
	font-size: 14px;
	font-weight: 400;
	color: #3a3a3a;
	background: #f8f8f8;
}
img, svg{
	vertical-align: middle;
}
svg{
	overflow: hidden;
}
a{
	text-decoration: none;
}
button{
	outline: none;
}
//display
.fixed-top, .fixed-bottom{
	position: fixed;
	right: 0;
	left: 0;
	z-index: 999;
}
.fixed-top{
	top: 0;
}
.d-none{
	display: none !important;
}
.d-inline-block{
	display: inline-block !important;
}
.d-flex{
	display: flex !important;
}
.align-items-center{
	align-items: center !important;
}
//-----------------------------------
//button
[type=button]:not(:disabled), [type=reset]:not(:disabled),
[type=submit]:not(:disabled), button:not(:disabled){
	cursor: pointer;
}
.btn{
	display: inline-block;
	font-weight: 400;
	color: #212520;
	text-align: center;
	vertical-align: middle;
	@include user-select(none);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 50px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow .15s ease-in-out;

}
.btn-sm{
	padding: .45rem 1rem;
	font-size: 0.8rem;
	line-height: 1.5;
}
.btn-light{
	color: #575075;
	background-color: #d4d4d4;
	border-color: #d4d4d4;
}
.dropdown-toggle{
	white-space: nowrap;
	&:after{
		display: inline-block;
		margin-left: .255em;
		vertical-align: .255em;
		content:"";
		border-top: .3em solid;
		border-right: .3em solid transparent;
		border-bottom: 0;
		border-left: .3em solid transparent;
	}
}

.dropdown, .dropleft, .dropright, .dropup{
	position: relative;
}
.dropdown-menu{
	font-size: .8rem;
	border-radius: .1rem;
	background: #fff;
	border-color: rgba(58, 58, 58, .15);
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	// display: none;
	float: left;
	min-width: 10rem;
	padding: .5rem 0;
	margin: .125rem 0 0;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: .25rem;
	outline: none;
	&.show{
		display: block;
	}
}
.dropdown-item{
	display: block;
	width: 100%;
	padding: .25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #212529;
	white-space: nowrap;
	background-color: #fff;
	border: 0;
	&:hover, &:focus{
		background-color: #f8f8f8;
		color: #3a3a3a;
	}
}
.dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top]{
	right: auto;
	bottom: auto;
}
//--------------------------------------
.navbar{
	background: #fff;
	height: 100px;
	padding: 1.5rem 0;
	box-shadow: 0 1px 15px rgba(0,0,0, .04), 0 1px 6px rgba(0,0,0,0.4);
}
//menu
.menu-button{
	color: #8f8f8f;
	width: 120px;
	text-align: center;
	&:hover{
		color: #922c88;
	}
	svg{
		height: 12px;
	}
	.main{
		fill: #3a3a3a;
		transition: fill 3s;
		width: 10px;
	}
	.sub{
		fill: #3a3a3a;
		transition: fill 3s;
	}
}
.menu-button-mobile{
	color: #8f8f8f;
	text-align: center;
	margin-left: 15px;
	svg{
		height: 12px;
		fill: #3a3a3a;
	}
}
//------------------------------
// language button
.language-button{
	background: #f8f8f8;
	font-size: 0.8rem;
	color: #8f8f8f;
	padding: 0.6rem 1rem;
	border: initial;
	outline: none;
}
//------------------------------
@media (min-width: 420px){
	.d-xs-block{
		display: block !important;
	}
}
@media (min-width: 576px){
	.d-sm-block{
		display: block !important;
	}
}
@media (min-width: 768px){
	.d-md-block{
		display: block !important;
	}
	.d-md-none{
		display: none !important;
	}
}

